@import url("https://fonts.googleapis.com/css2?family=Geist:wght@200;300;400&family=Geist+Mono:wght@400&display=swap");

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #000000;
  --md-default-fg-color: #ffffff;
  --md-default-fg-color--light: #939188;
  --md-primary-fg-color: #000000;
  --md-accent-fg-color: #b8dd69;
  --md-typeset-color: #ffffff;
  --md-typeset-a-color: #b8dd69;
  --md-text-font: "Geist";
  --md-code-font: "Geist Mono";
}

.md-header,
.md-footer {
  display: none;
}

.md-main__inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.md-content__inner {
  max-width: none;
  margin: 0;
  padding: 0;
}

.landing {
  display: block;
  width: 100vw;
  height: 100vh;
}
